ul {
  list-style-type: none;
}
li {
  padding: 10px;
}
.cartIcon h3 {
  border: 1px solid #8ECDDD;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
.cart-container {
  font-family: Arial, sans-serif;
  border: 1px solid #8ECDDD;
  border-radius: 10px;
  margin: 20px;
  height: 400px;
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  background: #22668D;
  color: #FFFADD;
}
.cart-actions {
  color: #FFFADD;
  font-size: 20px;
  width: 50px;
  border: none;
  background: #8ECDDD;
}
